$red-color: #EC2456;
$btn-primary-color: #EC2456;
$btn-primary-bg: #fff;
$btn-info-color: #fff;
$btn-info-bg: transparent;
$btn-info-border: #fff;
$border-radius-large: 40px;
$panel-default-border: transparent;
$link-color: $red-color;

@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body,
h1,
h2,
h3,
h4,
h5{
  font-family: 'Open Sans', sans-serif;
  line-height: 130%;
  font-weight: 300;
}

html,
body{
  overflow-x: hidden;
}

.modal-dialog{
  width: 80vw;
  margin: 50px auto;
  left: 50%;
  transform: translateX(-50%) !important;

  @media(max-width: $screen-xs-max) {
    width: 100vw;
  }
}

input:focus,
.form-control:focus{
  box-shadow: none;
  border: none;
  outline: none;
}

.block{
  min-height: 100vh;
}
.block-80{
  height: 80vh;
}
.block-gradient{
  background: #ed7324; /* Old browsers */
  background: -moz-linear-gradient(top,  #ed7324 0%, #ec2456 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed7324), color-stop(100%,#ec2456)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ed7324 0%,#ec2456 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ed7324 0%,#ec2456 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ed7324 0%,#ec2456 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ed7324 0%,#ec2456 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed7324', endColorstr='#ec2456',GradientType=0 ); /* IE6-9 */
  color: #fff;
}
.block-title{
  padding-top: 10%;
  padding-bottom: 5%;
  color: $red-color;
}
.description-title{
  margin: 0px;
  color: #000;
  font-weight: 500;
  @media(max-width: $screen-xs-max){
    font-size: 20px;
  }
}
.description-body{
  color: #B4B4B4;
  font-weight: 300;
  line-height: 190%;
  font-size: 16px;
}

.quote{
  color: $red-color;
  font-size: 26px;
}

.text-red{
  color: $red-color;
}

.panel-arrow{
  position: relative;
  margin-top: 36px;
  padding-top: 25px;
  padding-bottom: 25px;

  &:before{
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    display: inline-block;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    border-left: 12px solid transparent;
    border-bottom-color: #fff;
    content: '';
  }
}
.btn-blog{
  color: #fff;
  background: rgba(#fff, 0.2);
  font-family: 'Open Sans';
  font-weight: bold;
  border: none;
  border-radius: 50px;
}

.opening-block{
  height: 95vh;
  @extend .block-gradient;

  @media(max-width: 320px){ //Fix for iphone 5
    height: 120vh;
  }

  .btn-blog{
    position: absolute;
    top: 20px;
    left: 50%;
  }
  .logo{
    padding-top: 20%;
    @media(max-width: $screen-xs-max){
      padding-top: 10%;
    }
  }
  h1{
    font-size: 56px;
    @media(max-width: $screen-xs-max){
      font-size: 36px;
    }
  }
  h3{
    line-height: 175%;
    @media(max-width: $screen-xs-max){
      font-size: 16px;
    }
  }
  .phone-hero{
    transform: translate(-5%, -5%);
    width: 200%;

    @media(max-width: $screen-xs-max){
      transform: translate(40%, -35%) scale(1.25);
      width: 100%;
    }

    @media(max-width: $screen-sm-max) and (min-width: $screen-xs-max){
      transform: translate(-25%, 25%);
      width: 500%;
    }
  }

  button.btn{
    padding: 20px 16px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 25px;
    border-width: 2px;

    @media(max-width: $screen-xs-max){
      font-size: 12px;
      padding: 16px;
      height: 51px;

      .img{
        margin-top: -15px;
        margin-right: 0px;
      }
    }
  }

  .img{
    background-size: cover;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-bottom: -7px;
    margin-right: 5px;
  }
  .watch{
    &:hover{
      background:#fff;
      color: $red-color;

      .img{
        background: url("/assets/Icons/play-icon-red.png") center center no-repeat;
      }
    }
    .img{
      background: url("/assets/Icons/SVG/play-icon.svg") center center no-repeat;
    }
  }
  .download .img{
    background: url("/assets/Icons/apple.png") center center no-repeat;
  }
}
.features-block{
  h1{
    @extend .block-title;
  }
  .hand-with-phone{
    margin-top: -20%;
    width: 75%;

    @media(max-width: $screen-xs-max){
      margin-top: 0%;
    }

  }
  .feature-row{
    margin: 25px 0px;

    h2{
      @extend .description-title;
    }
    h5{
      @extend .description-body;
    }
  }
  .svg-icon{
    width: 60%;
    margin-top: 5px;

    @media(max-width: $screen-xs-max){
      width: 80%;
      margin-top: 0px;
    }
  }
}
.themes-block{
  background-color: #EDEDED;
  padding-bottom: 5%;

  .theme-phones{
    width: 100%;
  }
  img.theme-icon{
    padding-top: 7.5%;
    padding-bottom: 30px;
  }
}
.press-block{
  background-color: #F6F6F6;
  padding-bottom: 5%;

  .quoting{
    h3{
      color: #000;
      font-size: 18px;
      font-weight: 500;
      line-height: 175%;
    }

    h5{
      color: $red-color;
      font-weight: 500;
      font-size: 16px;
    }
  }
  .press-logos{
    padding-top: 50px;
  }
}

.talk-block{
  background-color: #F6F6F6;
  padding-bottom: 5%;

  .block-title{
    padding-top: 5%;

    @media(max-width: $screen-xs-max){
      font-size: 150%;
    }
  }
  .glyphicon{
    font-size: 22px;
  }

  .img-circle{
    @media(max-width: $screen-xs-max){
      width: 20% !important;
    }
  }

  .twitter-handle{
    font-size: 22pt;
    color: $red-color;
  }

  .twitter-talk{
    font-size: 16pt;
    color: #414141;
    font-weight: 500;
  }

  .twitter-icon{
    width: 7%;

    @media(max-width: $screen-xs-max){
      width: 13%;
    }
  }

  @media(max-width: $screen-xs-max){
    .panel{
      h1{
        font-size: 22pt;
      }
    }
  }
}
.story-block{
  background-color: #414345;
  color: #fff;
  overflow: hidden;
  max-height: 700px;

  @media(max-width: $screen-xs-max){
    max-height: initial;
    padding-bottom: 50px;
  }

  @media(max-width: $screen-sm-max) and (min-width: $screen-xs-max){
    max-height: initial;
  }

  h1, p{
    color: #fff;
  }
  h1{
    padding-top: 10%;
    padding-bottom: 5%;

  }
  p{
    line-height: 175%;
    opacity: 0.75;
    font-size: 16px;
  }
  .emojis{
    letter-spacing: 15px;

    img{
      width: 45px;
      margin-right: 20px;

      @media(max-width: $screen-sm-max) and (min-width: $screen-xs-max){
        width: 38px;
        margin-right: 10px;
      }
    }
  }
  .story-phone{
    transform: translate(30%, -40%);

    @media(max-width: $screen-xs-max){
      transform: initial;
      width: 70%;
      margin-top: -65%;
    }

    @media(max-width: $screen-sm-max) and (min-width: $screen-xs-max){
      transform: translate(0%, -20%);
      width: 175%;
    }
  }
  .story{
    @media(max-width: $screen-xs-max){
      h1{
        text-align: center;
      }
    }
  }
  a{
    font-weight: 600;
  }
}
.team-block{
  padding-bottom: 10%;

  .block-title{
    padding-bottom: 1.5%;
  }
  .subtitle{
    line-height: 175%;
  }
  .team{
    padding-top: 5%;
    h3{
      font-weight: 500;
    }
    h4{
      color: #B8B8B8;
    }

    img{
      max-width: 145px;
    }
  }
}
.finish-block{
  @extend .block-gradient;
  padding-top: 7.5%;
  padding-bottom: 10%;

  .support{
    color: #fff;
    text-decoration: underline;
    &:hover{
      color: #fff;
    }
  }
  form{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 2.5%;
  }
  input[type=email]{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 20px 35px;
    width: 40%;
    height: 56px;
    color: #fff;

    @media(max-width: $screen-xs-max){
      width: 100%;
    }

    &::-webkit-input-placeholder {
       color: #fff;
       opacity: 0.5;
       font-weight: 500;
       font-size: 16px;
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: #fff;
       opacity: 0.5;
       font-weight: 500;
       font-size: 16px;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: #fff;
       opacity: 0.5;
       font-weight: 500;
       font-size: 16px;
    }

    &:-ms-input-placeholder {
       color: #fff;
       opacity: 0.5;
       font-weight: 500;
       font-size: 16px;
    }
  }
  input[type=submit]{
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px 35px;
    height: 56px;
    width: 15%;
    color: $red-color;

    @media(max-width: $screen-xs-max){
      width: 100%;
    }

    &:hover{
      border-color: #fff;
      opacity: 0.85;
      color: $red-color;
    }
  }
  #mce-responses{
    .responses{
      padding-top: 30px;
      font-size: 16px;
      width: 60%;
      text-align: center;
      margin: 0px auto;
    }
  }
  .social{
    padding-top: 5%;

    @media(max-width: $screen-xs-max){
      padding-top: 2.5%;
    }

    ul{
      li{
        margin-left: 15px;
        margin-right: 15px;

        img:hover{
          color: #E9D3D0;
        }
      }
    }
  }

  .mission{
    font-weight: 500;
    padding-top: 2.5%;
    font-size: 12px;

    span{
      opacity: 0.5;
    }
  }

  .btn-blog{
    margin-top: 30px;
  }

  @media(max-width: $screen-xs-max){
    padding-top: 10%;
    .support-title{
      font-size: 230%;
      margin: 35px 0px;
    }

    input[type=email]{
      margin: 15px 0px;
    }

    .social{
      padding-top: 10%;
    }
  }
}


// Bootstrap nav
.navbar{
  background-color: rgba(#fff, 0.95);
  border-bottom: 0px;
  height: auto;
  padding-top:1px;
  padding-bottom:1px;
  top: -100px;
  transition: top .75s;

  &.active{
    top: 0px !important;
  }

  .navbar-right{
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .navbar-brand{
    padding: 8px 15px;
  }
  .logo{
    height: 100%;
  }

  .navbar-form{
    width: 50%;
  }

  input[type=email]{
    background-color: transparent;
    border: 2px solid #B4B4B4;
    border-radius: 50px;
    padding: 15px 25px;
    width: 60%;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    color: darken(#B4B4B4, 15%);

    &::-webkit-input-placeholder {
       font-weight: 700;
       font-size: 14px;
    }

    &:-moz-placeholder { /* Firefox 18- */
       font-weight: 700;
       font-size: 14px;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       font-weight: 700;
       font-size: 14px;
    }

    &:-ms-input-placeholder {
       font-weight: 700;
       font-size: 14px;
    }
  }
  .button,
  .btn{
    margin-left: 15px;
    color: $red-color;
    border: 2px solid $red-color;
    border-radius: 26px;
    height: 40px;
    font-weight: 700;
    padding: 5px 25px;
    font-size: 14px;
    line-height: 28px;

    &:hover{
      background: $red-color !important;
      color: #fff !important;
      border-color: $red-color !important;
    }

    &.download{
      background: $red-color;
      color: #fff;

      &:hover{
        background: #fff !important;
        color: $red-color !important;
      }
    }

    &.blog{
      color: $red-color;
      border-color: #B4B4B4;
    }
  }
  @media(max-width: $screen-sm-max){
    form{
      display: none;
    }
  }
}
